<div class="pricing-section">
  <div class="heading-img">
    <div class="content">
      <h1>Pricing</h1>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec
        tinciduntarcu, sit amet fermentum sem.
      </h5>
    </div>
  </div>

  <!--  -->
  <div class="container">
    <!-- Breadcrumb Section -->
    <div class="breadcrumb">
      <a href="#">Home</a>
      <button class="next"><i class="fas fa-caret-right"></i></button>
      <a href="#">Pricing Plans</a>
    </div>
    <!--  -->
    <div class="subscription">
      <div class="container container2">
        <div class="subscription-header">
          <div class="title">Simple Pricing For Everyone Users:</div>
        </div>
        <div class="box-container">
          <div class="row space">
            <!-- 1 -->
            <div class="big-box col-lg-3 col-md-6 col-sm-12 m-0">
              <div class="box">
                <div class="box-header">
                  <h3><span>01.</span>Free</h3>
                  <div class="price-num">
                    <div class="price-num-item">
                      <span><span class="curen">EGP</span>0</span>
                    </div>
                    <div class="price-num-des">
                      <span class="cont">Per Month</span>
                    </div>
                  </div>
                  <p>Discover and connect with local services effortlessly.

                  </p>
                </div>
                <div class="box-content">
                  <ul class="no-list-style">
                    <li><i class="fa-solid fa-check"></i> One Listing</li>
                    <li>
                      <i class="fa-solid fa-check"></i> Basic Contact Options


                    </li>
                    <li class="not-included">
                      <i class="fa-solid fa-ban"></i> Unlimited Listings

                    </li>
                    <li class="not-included">
                      <i class="fa-solid fa-ban"></i>Priority Support

                    </li>
                    <li class="not-included">
                      <i class="fa-solid fa-ban"></i> Featured Placement

                    </li>
                  </ul>
                  <a href="#" class="price-link">Choose Free</a>
                </div>
              </div>
            </div>
            <!-- 2 -->
            <div class="big-box col-lg-3 col-md-6 col-sm-12 m-0">
              <div class="box">
                <div class="box-header">
                  <h3><span>02.</span>Premium</h3>
                  <div class="price-num">
                    <div class="price-num-item">
                      <span><span class="curen">EGP</span>100</span>
                    </div>
                    <div class="price-num-des">
                      <span class="cont">Per Month</span>
                    </div>
                  </div>
                  <p>Unlock more features to elevate your business!

                  </p>
                </div>
                <div class="recomm-price color-bg">Recommended</div>
                <div class="box-content">
                  <ul class="no-list-style">
                    <li><i class="fa-solid fa-check"></i> 5 Listings</li>
                    <li>
                      <i class="fa-solid fa-check"></i> Priority Customer Support

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i> Extended Service Duration

                    </li>
                    <li><i class="fa-solid fa-check"></i>Enhanced Visibility

                    </li>
                    <li class="not-included">
                      <i class="fa-solid fa-ban"></i> 24/7 Support
                    </li>
                  </ul>
                  <a href="#" class="price-link">Choose Premium</a>
                </div>
              </div>
            </div>
            <!-- 3 -->
            <div class="big-box col-lg-3 col-md-6 col-sm-12 m-0">
              <div class="box">
                <div class="box-header">
                  <h3><span>03.</span>Free</h3>
                  <div class="price-num">
                    <div class="price-num-item">
                      <span><span class="curen">EGP</span>0</span>
                    </div>
                    <div class="price-num-des">
                      <span class="cont">Per Year</span>
                    </div>
                  </div>
                  <p>Enjoy our basic features at no cost!

                  </p>
                </div>
                <div class="box-content">
                  <ul class="no-list-style">
                    <li>
                      <i class="fa-solid fa-check"></i> Basic Customer Interaction

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i> Limited Support

                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i> Increased Visibility to Potential Customers


                    </li>
                    <li class="not-included">
                      <i class="fa-solid fa-ban"></i> Unlimited Listings
                    </li>
                    <li class="not-included">
                      <i class="fa-solid fa-ban"></i> Featured Placement

                    </li>
                  </ul>
                  <a href="#" class="price-link">Choose Free</a>
                </div>
              </div>
            </div>
            <!-- 4 -->
            <div class="big-box col-lg-3 col-md-6 col-sm-12 m-0">
              <div class="box">
                <div class="box-header">
                  <h3><span>04.</span>Premium</h3>
                  <div class="price-num">
                    <div class="price-num-item">
                      <span><span class="curen">EGP</span>180</span>
                    </div>
                    <div class="price-num-des">
                      <span class="cont">Per Year</span>
                    </div>
                  </div>
                  <p>Unlock premium features for enhanced business growth!

                  </p>
                </div>
                <div class="recomm-price color-bg">Recommended</div>
                <div class="box-content">
                  <ul class="no-list-style">
                    <li>
                      <i class="fa-solid fa-check"></i> Unlimited Listings
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i> Enhanced Customer Interaction
                    </li>
                    <li>
                      <i class="fa-solid fa-check"></i> Featured in Search Results
                    <li>
                      <i class="fa-solid fa-check"></i> Priority Placement in Listings

                    </li>
                    <li><i class="fa-solid fa-check"></i> 24/7 Support</li>
                  </ul>
                  <a href="#" class="price-link">Choose Premium</a>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="boxed-content">
            <div class="boxed-content-item">
              <div class="row features d-flex align-items-center">
                <div class="col-lg-5 d-flex flex-column">
                  <div class="about-title">
                    <h2 class="mb-3">Why Choose Our Properties</h2>
                    
                  </div>
                  <div class="services-opions">
                    <!-- <ul> -->
                    <li
                      class=" feature-item d-flex align-items-center "
                    >
                      <i class="fa-solid fa-headset"></i>
                      <div class="content d-flex flex-column">
                        <h4>24 Hours Support</h4>
                        <p>
                          Get assistance anytime with our dedicated support team, ensuring your inquiries are addressed promptly and effectively.
                        </p>
                      </div>
                    </li>
                    <li class=" feature-item d-flex align-items-center ">
                      <i class="fa-solid fa-users-gear"></i>
                      <div class="content d-flex flex-column">
                      <h4>Owner Admin Panel</h4>
                      <p>
                        Get assistance anytime with our dedicated support team, ensuring your inquiries are addressed promptly and effectively.
                      </p></div>
                    </li>
                    <li class=" feature-item d-flex align-items-center">
                      <i class="fa-solid fa-mobile"></i>
                      <div class="content d-flex flex-column ">

                      <h4>Mobile Friendly</h4>
                      <p>
                        Experience seamless browsing on any device. Our platform is optimized for mobile use, making it easy to connect with potential customers on the go.
                      </p>
                  </div>

                    </li>
                    <!-- </ul> -->
                  </div>
                </div>
                <!--  -->
                <div class="col-lg-7">
                  <div class="about-img">
                    <img
                      src="../../assets/images/20.jpg"
                      class="respimg"
                      alt=""
                    />
                    <div class="about-img-text">
                      <i class="fa-solid fa-quote-right"></i>
                      <p>
                        Our platform is optimized for all devices, allowing users to easily explore and connect with local services from anywhere, anytime.


                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
