
/* .all{
    font-family: var(--main-font) !important;

} */
 .fa-circle-check{
    color: var(--main-color);
    font-size: 10px;
 }
h4{
    margin-top: 28px !important;
    color: white;
   font-size: 20px;
}
.all{
    background-color:#222222;

    border-radius: 10px !important;
    padding-left: 30px;
    padding-right: 30px;
  border: 0.4px solid #eeeeee29 !important;
  margin-bottom: 40px;

}
.property-filter {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #1f1f1f;
    /* padding: 10px; */
    border-radius: 5px;
      border:  #111111 solid 6px;
    
  }
  
  .filter-btn {
    background-color: #2c2c2c;
    color: white;
    border: rgba(255, 255, 255, 0.096) solid .2px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .filter-btn.active {
 
    color: white;
  }
  
  .filter-btn:hover {
    background-color:rgba(0, 0, 0, 0.507) !important;
    color:#08B1A1 ;
  }
  hr{
    margin-top: 0px;
    /* margin-bottom: 8px ; */
    color: rgba(255, 255, 255, 0.21) !important;
  }
  /* @media (max-width: 768px) {
    .property-filter {
        flex-direction: column;
        align-items: center;
    }
    .filter-btn {
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .all {
        padding-left: 10px;
        padding-right: 10px;
    }
    .property-filter {
        margin-top: 5px;
    }
    .filter-btn {
        padding: 5px 10px;
    }
}

@media (max-width: 320px) {
    .all {
        padding-left: 5px;
        padding-right: 5px;
    }
    .property-filter {
        margin-top: 0;
    }
    .filter-btn {
        padding: 2px 5px;
    }
} */

  
  .cards {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 40px;
    padding: 10px; 
    width: 100%; 
    border: #111111;
    position: relative; 
    /* align-items: stretch; خلي الكروت تاخد نفس الارتفاع */

}

.title {
    font-weight: 700;
    font-size: 13px !important;
    margin-bottom: 10px;
}

.text {
    font-weight: 500;
    position: absolute;
    top: -55px;
    width: 85%;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
    font-size: 11px;
    height: 53px;
}

.image {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
 
}

.image-item {
    background-color: #111111; 
    margin: 0 9px; 
    text-align: center;
    flex: 1; 
    position: relative; 
    border: #222222;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out; 
    padding :0 !important;
    margin-bottom: 40px !important;
    /* height: 90%; */
}
.fa-caret-right {
color: white !important;
margin-left: 3px;
transition: .3s;
font-size: 12px !important;
}
.image-item:hover {
    transform: scale(1.03); 
}

.image-item .photo {
    width: 100%; 
    height: 250px;
    border-radius: 10px; 
    /* margin-top: -10px; */
object-fit: cover;
}
.img{
    position: relative;

}
.overlay-place-img {
    background-color: rgba(0, 0, 0, 0.651);
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s;
  }
  .img:hover .overlay-place-img{
    opacity: .5;

  }
.image-item i {
    font-size: 16px; 
    color: #08B1A1;
}

.image-item .fa-heart {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background-color: #111111;
    padding: 10px;
    border-radius: 50%; 
    color: #08B1A1; 
    transition: background-color 0.3s, transform 0.3s;
}

.image-item .fa-heart:hover {
    background-color: #08B1A1;
    transform: scale(1.1);
    color: #111111;
}

.star-container {
    display: flex;
    align-items: center;
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: #08B1A1;
}

.star-container .fa-star {
    margin-right: 2px;
}

.image-item p {
    text-align: start;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: white; 
    background-color: #111111; 
    padding: 7px;
    position: relative; 
}

.prev, .next {
    position: absolute;
    transform: translateY(-50%);
    background: #111111;
    border-radius: 50%;
    color: white;
    border: none;
    width: 50px; 
    height: 50px;
    cursor: pointer;
    font-size: 20px; 
    line-height: 50px; 
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}

.prev {
    left: -20px;

}

.next {
    right: -20px;
}

.prev:hover, .next:hover {
    color: black; 
    background-color: #08B1A1; 
   
}

.image-item i:hover {
    color: #08B1A1;
    transition: color 0.3s ease-in-out;
}

.provider-name {
    font-size: 12px !important;
    color: #08B1A1 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    top: -40px;
}


.random-number, .location {
    position: absolute;
    top: -25px;
    font-size: 12px;
    color: white;
    width: auto;
    background-color: #222222;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 3px 10px;
    margin-top: 5px;
    display: inline-block;
    text-align: left;
    transition: background-color 0.3s, border-color 0.3s;
}

.random-number:hover, .location:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #08B1A1;
}

.provider-icon {
    margin: 15px 0;
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    margin-right: 20px;
    z-index: 10;
    object-fit: cover;

}

.random-number, .location {
    position: relative;
    font-size: 12px;
    color: white;
    background-color: #222222;
    border: .6px solid rgba(255, 255, 255, .1); 
    border-radius: 70px;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
    display: block;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
}
.location{
    margin-right: 0;
}
.random-number{
    margin-left: 0;
}

.random-number:hover, .location:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #08B1A1;
}

.container1 {
    margin-top: -30px !important;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.random-number, .location {
    display: flex;
    align-items: center;
   
}

.random-number i, .location i {
    bottom: 10px;
    right: 10px;
    background-color: #111111;
    padding: 5px;
    border-radius: 50%;
    font-size: 13px;

    border: 3px solid #111111;
    transition: background-color 0.3s, transform 0.3s;
    color: #08B1A1;
}

.number, .location-text {
    color: #fff;
    font-size: 12px;
    margin-left: 1.5px;
}

.location i {
    transition: transform 0.3s ease-in-out;
}

.location:hover i {
    transform: rotate(10deg);
}

.image-item .fa-phone {
    bottom: 10px;
    right: 10px;
    background-color: #111111;
    margin-right: 3px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid #111111;
    transition: background-color 0.3s, transform 0.3s;
    color: #08B1A1;
}

.random-number:hover i {
    background-color: #08B1A1;
    transform: scale(1.1);
    color: #111111;
}

.location i {
    bottom: 10px;
    right: 10px;
    background-color: #111111;
    margin-right: 5px;
    padding: 5px 7px;
    border-radius: 50%;
    border: 3px solid #111111;
    transition: background-color 0.3s, transform 0.3s;
    color: #08B1A1;
}

.location:hover i {
    background-color: #08B1A1;
    transform: scale(1.1);
    color: #111111;
}
.white-heart {
  color: white !important;
}
.additional-info {

    font-size: 13.5px !important ; 
    color:white !important; 
  
    padding: 2px !important; 
    margin: 0 !important;
    border-radius: 5px !important; 
    text-align: center !important; 
    transition: background-color 0.3s, color 0.3s !important; 
    margin-left: 15px !important;
}
.additional-info-container {
    display: flex;
    align-items: center;
    /* margin-top: 5px; */
    padding: 5px;
    margin-bottom: 12px;
    
}

.view-more {
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 80px;
    padding: 10px 20px;
    font-size: 12px !important;
    transition: background-color 0.3s, color 0.3s;
    margin-top: -5px;
    margin-right: 15px;
 
}

.view-more:hover  {
    background-color: #08B1A1;
    color: #111111;
}
.view-more:hover .fa-caret-right  {
    color: #111111 !important;
}


  

  .fa-heart {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .image-item .fa-heart {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background-color: #111111;
    padding: 10px;
    border-radius: 50%; 
    color: #08B1A1; 
    transition: background-color 0.3s, transform 0.3s;
}

.image-item .fa-heart:hover {
    background-color: #08B1A1;
    transform: scale(1.1);
    color: #111111;
}


  
  .prev,
  .next {
    display: none; 
  }
  
  .prev.visible,
  .next.visible {
    display: block; 
  }
  /* تحسينات ريسبونسف */
  @media screen and (max-width: 990px) and (min-width: 767px) {
    .try {
        flex-direction: column;
    }
    
    .container1 {
        display: block !important;
        width: 60%;
    }
}
@media screen and (max-width: 990px){
    .try{
        flex-direction: column;
    }
}

@media screen and (max-width: 520px) {
    .property-filter {
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .property-filter > * { 
        flex: 0 0 calc(50% - 10px); 
        box-sizing: border-box; 
        margin-bottom: 10px; 
    }
}
@media screen and (max-width: 426px) {
    .try {
        display: block !important;
        width: 100%;
    }

    .try2 {
        display: block !important;
    }

    .try3 {
        display: block !important;
        flex-direction: row !important;
    }

    .property-filter {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between; 
        width: 100%; 
        padding: 0 0;
        margin: 0; 
    }

    .property-filter > * {
        flex: 0 0 calc(50% - 10px);
        box-sizing: border-box;
        padding: 10px; 
        margin-bottom: 5px; 
    }

    .container1 {
        display: block !important;
        width: 60%;
    }
}
@media screen and (max-width: 366px){
    .property-filter > * {
        padding: 9px;
        font-size: 13px ;
    }
}



@media screen and (max-width: 360px) {
    .container1 {
        display: block !important;
      
    }
    .location{
        padding: 2px;
    }
    .random-number{
        padding: 2px;
    }

}
@media screen and (max-width: 332px){
    .container1 {
        display: block !important;
     margin-top: 2px; 
    }
    .location{
        padding: 0px;
    }
    .random-number{
        padding: 0px;
    }
}
@media screen and (max-width: 332px){
    .location{
        padding: 0px;
        margin: 3px;
      
    }
    .random-number{
        padding: 0px;
        margin: 3px;
    }
    .view-more
    {
        margin: 0px;

    }
}


@media (max-width: 768px) {
    .photo {
        width: 100%;
        height: auto;
    }

    .image-item {
        width: 100%;
    }

.next,.prev{
    font-size: 12px !important;
}
}
