<div class="pricing-section">
    <div class="heading-img">
      <div class="content">
        <h1>About Our Company</h1>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec
          tinciduntarcu, sit amet fermentum sem.
        </h5>
      </div>
    </div>
  
    <!--  -->
    <div class="container">
      <!-- Breadcrumb Section -->
      <div class="breadcrumb">
        <a routerLink="/home">Home</a>
        <button class="next"><i class="fas fa-caret-right"></i></button>
        <a href="/about">About Our Company</a>
      </div>
      <!--  -->
      <div class="about mb-5">
        <div class="container container2">

            <!--  -->
            <div class="boxed-content">
              <div class="boxed-content-item">
                <div class="row features d-flex">
                  <div class="col-lg-6 d-flex flex-column mt-5" >
                    <div class="about-title">
                      <h2>Our Awesome Story</h2>
                    </div>
                 <div class="para">
                    <p>At Mapify, we aim to bridge the gap between service providers and customers in Egypt. We offer a dedicated platform that makes it easy for you to find the best local services, from restaurants to shops</p>
                    <p>Join us in our mission to support and grow Egypt's vibrant tourism industry and to

                      be part of a vibrant community where you can showcase your services and connect with customers in your area effectively!</p>    
                </div>
                 <div class="para-button">
                    <button routerLink="/contacts">GET IN TOUCH WITH US</button>
                 </div>
                  </div>
                  <!--  -->
                  <div class="col-lg-6">
                    <div class="about-img">
                      <img
                        src="../../../assets/images/about-img.webp"
                        class="respimg"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  