<div class="contacts-page">
  <!--* home  -->
  <div class="home">
    <!-- overlay  -->
    <div
      class="overlay d-flex align-items-center justify-content-center flex-column text-center"
    >
      <!-- header  -->
      <div class="header-content">
        <h2 class="title text-capitalize text-white">our contacts</h2>
        <span class="d-block text-white para"
          >For any inquiries or support, feel free to reach out to us. We are here to assist you with all your needs related to Mapify!

          </span
        >
      </div>
    </div>
  </div>
</div>


