  <!--! Start Bahaa's Task -->

  <!-- start the footer -->
   <!-- <hr class="hr-first"> -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 aboutUs">
          <h3>About Us</h3>
          <hr class="under-title">
          <hr class="under-title2">
          <p>
            At Mapify, we enhance local tourism in Egypt by connecting users with diverse services and promoting hidden gems in their cities.</p>
          <button type="button" class="btn btn-dark footer-btn " routerLink="/about"  routerLinkActive="router-link-active" >Read More<i class="fa-solid fa-caret-right ms-2"></i></button>
        </div>
        <div class="col-md-3 col-sm-6 helpfulLinks">
          <h3>helpful links</h3>
          <hr class="under-title">
          <hr class="under-title2">

          <ul>
            <li><a routerLink="home"><i class="fa-solid fa-caret-right fa-fade"></i>HOME</a></li>
            <li><a routerLink="about"><i class="fa-solid fa-caret-right fa-fade"></i>ABOUT US</a></li>
            <li><a routerLink="categories"><i class="fa-solid fa-caret-right fa-fade"></i>CATEGORY</a></li>
            <li><a routerLink="profile/first-add"><i class="fa-solid fa-caret-right fa-fade"></i>ADD LISTING</a></li>
            <li><a routerLink="pricing"><i class="fa-solid fa-caret-right fa-fade"></i>PRICING</a></li>
            <li><a routerLink="contacts"><i class="fa-solid fa-caret-right fa-fade"></i>CONTACT US</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 contactUs">
          <h3>Contact Us</h3>
          <hr class="under-title">
          <hr class="under-title2">

          <ul >
            <li>
              <i class="fa-solid fa-caret-right fa-fade"></i>
              <p style="color: #dadada; display: inline; font-size: 12px;">Email: </p>
              <a href="#"> infoMapify.com</a>
            </li>
            <li >
              <i class="fa-solid fa-caret-right fa-fade"></i>
              <p style="color: #dadada; display: inline; font-size: 12px;">Phone: </p>
              <a href="#"> +20 100 123 4567</a>
             
            </li>
          </ul>
          <button type="button" class="btn btn-dark footer-btn " routerLink="/contacts">Get in Touch<i class="fa-solid fa-caret-right ms-2"></i></button>
        </div>
        <div class="col-md-3 col-sm-6 subscribe">
          <h3>subscribe</h3>
          <hr class="under-title">
          <hr class="under-title2">

          <p>Want to stay updated on the latest features and offerings from Mapify? Enter your email to receive notifications about new listings, updates, and exclusive offers directly to your inbox.</p>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Your Email" aria-label="Your Email" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">SEND</button>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <hr class="fasel">
  <footer class="contact-info">
    <div class="container d-flex justify-content-between align-items-center contact">
      <!-- <div class="col-lg-5 col-md-5 col-sm-12 d-flex align-items-center c-info">
        <i class="fa fa-home" aria-hidden="true"></i>
        <p class="m-0">Address: 123 Main St, City, State, Zip</p>
      </div>
      <hr> -->
      <div class="w-100 d-flex justify-content-end align-items-center c-info follow">
        <p class="m-0 follow-us">FOLLOW US </p>
          <div class="socialMedia ms-4 gap-1 d-flex align-items-center">
            <a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f footer-icons"></i></a>
            <a href="#" class="text-decoration-none" ><i class="fab fa-twitter footer-icons"></i></a>
            <a href="#" class="text-decoration-none" ><i class="fab fa-instagram footer-icons"></i></a>
            <a href="#" class="text-decoration-none"><i class="fab fa-youtube footer-icons"></i></a>
            <a href="#" class="text-decoration-none"><i class="fa-brands fa-google-plus-g footer-icons"></i></a>
            <a href="#" class="text-decoration-none"><i class="fa-brands fa-pinterest-p footer-icons"></i></a>
          </div>
      </div>
    </div>
  </footer>
    <!--! End Bahaa's Task -->
