
/* start footer style */

footer {
  background-color: var( --fourth-bg-color) !important;
  font-size: 12px;
  color: var(--text-color);
  font-family: var(--main-font);
  /* padding: 40px 0 0 !important; */
  padding-top: 35px;

}


/* .aboutUs, .helpfulLinks, .contactUs, .subscribe {
  margin-bottom: 50px;
} */

footer h3 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: var(--main-font);
  text-transform: uppercase;
}

footer p {
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 300;
  opacity: .9;
  font-family: var(--main-font);
}

.under-title{
  display: block;
  width: 100%;
  /* height: 1px; */
  color: #eeeeee73 !important;
  /* background-color: var(--border-color); */
  /* opacity: 1; */
  /* margin: 20px 0; */
  margin: 0;
  margin-top: 20px !important;
}

/* .under-title::after{
  content: "";
  display: block;
  width: 20%;
  height: 1px;
  background-color: var(--main-color);
  margin: 20px 0 30PX;
  opacity: 10;
  margin: 0;
} */
.under-title2{
margin: 0 !important;
color:var(--main-color);
width: 12% !important;
opacity: 1;
margin-bottom:20px !important;
}
::placeholder{
  color: white;
  font-size: 12px;
}
.footer-icons{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
  transition: .5s;
  background-color: var(--third-bg-color);
}
.footer-icons:hover{
  background-color: var(--secondary-bg-color);
  border-radius: 50%;
}
footer ul{
  padding: 0%;
}

footer li {
  list-style-type: none;
  margin-bottom: 10px;
}

footer  i {
  margin-right: 10px;
  color: var(--main-color);
}

footer ul a {
  color: var(--text-color);
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

footer ul a:hover {
  color: var(--main-color);
}

footer .input-group input{
  background-color: var(--third-bg-color);
  border: 1px solid var(--border-color);
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  color: var(--text-color) !important;
  box-shadow: none;
}

footer .input-group input:focus{
  background-color: var(--fourth-bg-color) !important;
}

footer .input-group button{
  background-color: var(--main-color);
  color: black;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-family: var(--main-font);
  width: 80px;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px!important;
}

footer .input-group button:hover {
  background-color: var(--third-bg-color) !important;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color);
}

.contactUs .btn,
.aboutUs .btn {
  border-radius: 50px ;
  padding: 6px 12px ;
  border: 1px solid var(--border-color);
  font-size: 12px;
  background-color: var(--third-bg-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.contactUs .btn i,
.aboutUs .btn  i {
  color: var(--main-color);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.contactUs .btn:hover, 
.aboutUs .btn:hover {
  background-color: var(--main-color);
  color: var(--secondary-bg-color);
  /* border: none; */
}

.contactUs .btn:hover i, 
.aboutUs .btn:hover i{
  color: var(--secondary-bg-color);
}

.fasel {
  margin: 0%;
  color: #eeeeee73 !important;
}
.footer-btn{
  /* margin-top: 5px; */
  margin-bottom: 25px;
}
.contact-info {
  /* margin-top: -20px; */
  /* height: 50px; */
  width: 100%;
  background-color: var(--fourth-bg-color);
  /* padding: 20px; */
  padding-bottom: 20px;
  padding-top: 20px ;
}
.follow-us{
  font-size: 11px;
}

.contact-info hr {
  display: block;
  width: 76px;
  height: 1px;
  color: #eeeeee73 !important;
  opacity: 1;
  /* margin: -20px 0 0; */
  rotate: 90deg;
  top: 0px;
  left: 0%;
}

 .contact-info hr::before{
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background-color: transparent;
  margin: 0px 0 30px;
  opacity: 10;
  top: 25%;
  left: 25%;
  position: absolute;
}

.contact-info hr::after{
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--main-color);
  margin: 0px 0 30px;
  opacity: 10;
  top: 25%;
  left: 25%;
  position: absolute;
} 

.socialMedia i{
  margin-right: 2px;
  color: var(--main-color);
  
}


@media screen  and (max-width:768px) {
  .contact{
    flex-direction: column !important;
  }
  .follow{
justify-content: flex-start !important;
margin-top: 15px;
  }
  .contact-info hr {
    display: none;
  }
}
.hr-first{
  color: rgba(255, 255, 255, 0.263);
}