<div class="dashboard container">
  <div
    class="secondry-nav navbar navbar-expand d-flex justify-content-between mb-3"
  >
    <a href="#" class="nav-tit">YOUR DASHBOARD</a>
    <a href="" class="date d-flex align-items-center">
      <i class="fa-solid fa-calendar-alt me-2"></i>
      <span class="">22.10.2024</span>
    </a>
  </div>
  <div
    class="fastStat d-flex justify-content-center align-items-center flex-wrap row mb-3 gap-2"
  >
    <div class="stat d-flex justify-content-between align-items-center">
      <div>
        <h5>Listing Views</h5>
        <span>15</span>
      </div>
      <i class="fa-solid fa-eye me-2"></i>
    </div>
    <div class="stat d-flex justify-content-between align-items-center">
      <div>
        <h5>Total Favourites</h5>
        <span>5</span>
      </div>
      <i class="fa-solid fa-heart me-2"></i>
    </div>
    <div class="stat d-flex justify-content-between align-items-center">
      <div>
        <h5>Total Properties</h5>
        <span>10</span>
      </div>
      <i class="fa-solid fa-building me-2"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-12 p-0 act">
      <!-- Last Activities Section -->
      <div class="last-activities">
        <h3>LAST ACTIVITIES</h3>
        <div class="lines d-flex align-items-center">
          <div class="line1"></div>
          <div class="line2"></div>
        </div>
      </div>
      <hr />
      <!-- Notifications Section -->
      <div class="notification">
        <div class="icon"><i class="fa-solid fa-bell-concierge"></i></div>

        <div class="content">
          <p>
            Someone Request a Showing on <strong>Galaxy Cinema</strong> listing!
          </p>
        </div>
        <div class="date-close">
          <span class="date"
            ><i class="fa-regular fa-calendar"></i> 28 May 2024</span
          >
          <div class="close-btn"><i class="fa fa-times"></i></div>
        </div>
      </div>

      <div class="notification">
        <div class="icon"><i class="fa-solid fa-check"></i></div>

        <div class="content">
          <p>Your listing <strong>Galaxy Cinema</strong> has been approved!</p>
        </div>
        <div class="date-close">
          <span class="date"
            ><i class="fa-regular fa-calendar"></i> 28 May 2024</span
          >
          <div class="close-btn"><i class="fa fa-times"></i></div>
        </div>
      </div>
      <div class="notification">
        <div class="icon"><i class="fa-solid fa-bell-concierge"></i></div>
        <div class="content">
          <p>
            Someone Request a Showing on <strong>City Mall</strong> listing!
          </p>
        </div>
        <div class="date-close">
          <span class="date"
            ><i class="fa-regular fa-calendar"></i> 27 May 2024</span
          >
          <div class="close-btn"><i class="fa fa-times"></i></div>
        </div>
      </div>

      <div class="notification">
        <div class="icon"><i class="fa-regular fa-heart"></i></div>
        <div class="content">
          <p>
            <strong>Hany Osama</strong> bookmarked your
            <strong>City Mall</strong> listing!
          </p>
        </div>
        <div class="date-close">
          <span class="date"
            ><i class="fa-regular fa-calendar"></i> 26 May 2024</span
          >
          <div class="close-btn"><i class="fa fa-times"></i></div>
        </div>
      </div>
    </div>

    <div class="Box col-md-4 col-lg-8 col-sm-12">
      <div class="Text row">
        <button class="mx-2 click" routerLink="/pricing" routerLinkActive="router-link-active" >Click Here To Know More</button>
        <p>
          Owner Of Busines? Participates in <br />Our Premium Package. Refer a
          <br />friend and get a discount
        </p>
      </div>
    </div>
  </div>
</div>
