<section class="how-it-works">
  
  <div class="overlay-place-img"></div>

  <div class="how-it-works-title">
   
    
  <h2>How it Works</h2>
  <p>See why Mapify is one of the best friends for exploring the city</p>
  </div>
  <div class="features">
    <div class="feature">
      <i class="fa-solid fa-map-location-dot"></i>
      <h3>Find Interesting Places</h3>
      <p>
        Discover hidden gems around your city with Mapify. Easily locate places that aren't on common maps and explore new local experiences.
      </p>
    </div>
    <div class="feature">
      <i class="fas fa-phone-alt"></i>
      <h3>Contact a Few Owners</h3>
      <p>
        Quickly connect with nearby service providers through Mapify for easy bookings, inquiries, and personalized offers.

      </p>
    </div>
    <div class="feature">
      <i class="fa-regular fa-heart"></i>
      <h3>Make a Listing</h3>
      <p>
        Easily create a listing to showcase your services. Let customers in your area discover what you offer and connect with you directly through Mapify.

      </p>
    </div>
  </div>
</section>
