<div class="categories-page">
  <!--* home  -->
  <div class="home">
    <!-- overlay  -->
    <div
      class="overlay d-flex align-items-center justify-content-center flex-column text-center"
    >
      <!-- header  -->
      <div class="header-content ">
        <h2 class="title text-capitalize text-white">categories</h2>
        <span class="d-block text-white para"
          >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas
          reiciendis accusamus dolorem!</span
        >
      </div>
    </div>
  </div>
</div>
<app-categoriesSec></app-categoriesSec>
<!-- <app-footer></app-footer> -->
